@import url(https://fonts.googleapis.com/css?family=Muli:300,400);
body {
  font-family: "Muli", sans-serif;
  background-color: #2E520F;
}

div.container {
  height: 500px;
  width: 600px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  color: white;
  background-color: #2E520F;
  text-align: center;
}
div.container div.pane {
  height: 50px;
  width: 75%;
  margin: auto;
  padding: 10px;
  display: block;
  font-size: 16pt;
  overflow: hidden;
  background-color: #0F1C52;
  transition: background-color 300ms linear;
}
div.container div.pane input[type="text"] {
  color: black;
  padding: 5px;
}
div.container div.pane:hover {
  background-color: #6B9CDC;
}

button.play {
  height: 60px;
  width: 150px;
  color: black;
  padding: 10px;
}
.wrapper button.play {
  margin: auto;
  display: block;
  text-align: center;
}

div.alert {
  height: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16pt;
  opacity: 0;
  text-align: center;
  color: black;
  background-color: #0F1C52;
}
.nav div {
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}
.nav {
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;

}
.one {
    width: 30px;
}
.two {
    width: 20px;
}
.three {
    width: 25px;
}

.nav:hover div {
    width: 30px;
}
